<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <title>FedSegment</title>

    {% if site.google_analytics %}
      <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', '{{ site.google_analytics }}');
      </script>
    {% endif %}
    <meta charset="UTF-8">

{% seo %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
  </head>
  <style>

  </style>
  <body>
    <!-- <a id="skip-to-content" href="#content">Skip to the content.</a> -->

    <header class="page-header" role="banner">
      <h1 class="project-name">FedSegment</h1>
      <h2 class="project-tagline">A Federated Learning Framework for Image Segmentation</h2>
        <!-- {{ page.description | default: site.description | default: site.github.project_tagline }} -->
          <!-- {% if site.github.is_project_page %} -->
        <!-- <a href="{{ site.github.repository_url }}" class="btn">View on GitHub</a> -->
      <!-- {% endif %} -->
      <!-- {% if site.show_downloads %}
        <a href="{{ site.github.zip_url }}" class="btn">Download .zip</a>
        <a href="{{ site.github.tar_url }}" class="btn">Download .tar.gz</a>
      {% endif %} -->
      <h3 style="font-size:12px">Our project is in collaboration with FedML, a research library and benchmark for federated machine learning, 
          developed at USC. Our module will be an open source contribution to FedML.</h3>

      <table cellspacing="5" cellpadding="0" style="border: none;margin-top:5%">
        <tr style="font-size:12px; opacity:0.5; font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;"">
          <th><a href="https://www.linkedin.com/in/adarshan-naiynar-sivashunmugam/">Adarshan Naiynar Sivashunmugam</a></th>
          <th><a href="https://www.linkedin.com/in/alay/">Alay Dilipbhai Shah</a></th>
          <th><a href="https://bhogarajukeerti17.wixsite.com/myprofile">Keerti Bhogaraju</a></th>
          <th><a href="https://www.linkedin.com/in/mita-shimpi/">Mita Shimpi</a></th>
          <th><a href="https://www.linkedin.com/in/vanshikasridharan/">Vanshika Sridharan</a></th>
        </tr>
      </table>
    </header>



    <main id="content" class="main-content" role="main"  style="text-align: justify">
      {{ content }}

      <footer class="site-footer">
        {% if site.github.is_project_page %}
          <span class="site-footer-owner"><a href="{{ site.github.repository_url }}">{{ site.github.repository_name }}</a> is maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a>.</span>
        {% endif %}
        <span class="site-footer-credits">This page was generated by <a href="https://pages.github.com">GitHub Pages</a>.</span>
      </footer>
    </main>
  </body>
</html>