<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <title>FedSegment</title>

    {% if site.google_analytics %}
      <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', '{{ site.google_analytics }}');
      </script>
    {% endif %}
    <meta charset="UTF-8">

{% seo %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
  </head>
  <style>
    .name {
      color: white;
      text-decoration: none;
    }
    #anim1 {
      width: 300px;
      height: 200px;
      margin-left: 25%;
    }
    #anim2 > img {
      height: 450px;
    }
    h3 {
      font-weight: bold;
      font-size: 20px;
    }
  </style>
  <body>
    <!-- <a id="skip-to-content" href="#content">Skip to the content.</a> -->

    <header class="page-header" role="banner">
      <h1 class="project-name">FedSegment</h1>
      <h2 class="project-tagline">A Federated Learning Framework for Image Segmentation</h2>
      <h4><a class="name" href="https://github.com/FedML-AI/FedCV">[GitHub Code]</a></h4>
        <!-- {{ page.description | default: site.description | default: site.github.project_tagline }} -->
          <!-- {% if site.github.is_project_page %} -->
        <!-- <a href="{{ site.github.repository_url }}" class="btn">View on GitHub</a> -->
      <!-- {% endif %} -->
      <!-- {% if site.show_downloads %}
        <a href="{{ site.github.zip_url }}" class="btn">Download .zip</a>
        <a href="{{ site.github.tar_url }}" class="btn">Download .tar.gz</a>
      {% endif %} -->
      <h3>Our project is in collaboration with FedML, a research library and benchmark for federated machine learning, 
          developed at USC. Our module will be an open source contribution to FedML.</h3>
      <br />
      <br />
      <div style="display:flex;justify-content:space-around;align-content:center;">
        <span><a class="name" href="https://www.linkedin.com/in/adarshan-naiynar-sivashunmugam/" target="_blank">Adarshan Naiynar Sivashunmugam</a></span>
        <span><a class="name" href="https://alaydshah.com/" target="_blank">Alay Dilipbhai Shah</a></span>
        <span><a class="name" href="https://bhogarajukeerti17.wixsite.com/myprofile" target="_blank">Keerti Bhogaraju</a></span>
        <span><a class="name" href="https://www.linkedin.com/in/mita-shimpi/" target="_blank">Mita Shimpi</a></span>
        <span><a class="name" href="https://www.linkedin.com/in/vanshikasridharan/" target="_blank">Vanshika Sridharan</a></span>
      </div>
    </header>



    <main id="content" class="main-content" role="main"  style="text-align: justify">
      {{ content }}

      <footer class="site-footer">
        <span class="site-footer-credits">This page was generated by <a  style="color:black;" href="https://pages.github.com"></a>GitHub Pages</a>.</span>
      </footer>
    </main>
  </body>
</html>
